In [6]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import re
from skimpy import clean_columns
from datetime import datetime

In [7]:
as24_cars_df = pd.read_json("as24_cars.json")
df = as24_cars_df.copy() # copy to avoid changing original data

In [8]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
short_description,CDi,350+,S 4Matic+ 8G-DCT,4Matic+ 7G-DCT,200CDI BE Line 4M 7G-DCT
make,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n
model,"[\n, A 160 ,\n]","[\n, EQE 350 ,\n]","[\n, A 45 AMG ,\n]","[\n, A 35 AMG ,\n]","[\n, A 45 AMG ,\n]"
location,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","CARRIL ARAGONES 4, 30007 CASILLAS, ES"
price,"€ 16,950.-","€ 80,900.-","€ 69,900.-","€ 46,990.-","€ 16,800.-"
Body type,"[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]"
Type,"[\n, Used, \n]","[\n, Pre-registered, \n]","[\n, Used, \n]","[\n, Used, \n]","[\n, Used, \n]"
Doors,"[\n, 5, \n]","[\n, 4, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
Country version,"[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]"
Offer number,"[\n, 7468157, \n]","[\n, 7054863, \n]","[\n, 7410454, \n]","[\n, 7464503, \n]","[\n, 7127931, \n]"
Warranty,"[\n, 24 months, \n]","[\n, 24 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]"
Mileage,"120,200 km","5,000 km","18,900 km","18,995 km","197,000 km"
First registration,06/2016,06/2022,07/2020,01/2020,09/2015
Gearbox,[\nManual\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n]
Fuel type,Diesel,Electric,Gasoline,Gasoline,Diesel
Colour,Black,NaN,Grey,Yellow,White
Paint,Metallic,NaN,NaN,NaN,Metallic
desc,"[ , Precio al contado: 16950 euros, , , Vehí...","[ , Precio al contado: 88900 euros, , AUTO OJ...","[Gris MANUFAKTUR mountaingrau magno, , Linea/...","[ , Precio al contado: 48990 euros, , , BONI...","[ , Precio al contado: 17400 euros, , Vehícul..."
seller,Dealer,Dealer,Dealer,Dealer,Dealer
Seats,NaN,"[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
Power,NaN,[\n215 kW (292 hp)\n],[\n310 kW (421 hp)\n],[\n225 kW (306 hp)\n],[\n100 kW (136 hp)\n]
Engine size,NaN,[\n1 cc\n],"[\n1,991 cc\n]","[\n1,991 cc\n]","[\n2,143 cc\n]"
Gears,NaN,[\n9\n],[\n8\n],[\n7\n],[\n7\n]
CO₂-emissions,NaN,0 g/km (comb.),NaN,NaN,NaN
Manufacturer colour,NaN,Negro Obsidiana,Mountaingrau magno,Amarillo Sol,NaN
Drivetrain,NaN,NaN,"[\n, 4WD, \n]","[\n, 4WD, \n]","[\n, 4WD, \n]"
Cylinders,NaN,NaN,[\n4\n],[\n4\n],[\n4\n]
Fuel consumption,NaN,NaN,"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...","[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]..."
\nComfort & Convenience\n,NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Electrical side mirrors, Mu..."
\nEntertainment & Media\n,NaN,NaN,NaN,[USB],"[Bluetooth, CD player, MP3, USB]"
\nSafety & Security\n,NaN,NaN,NaN,"[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Driver-side airbag, E..."
\nExtras\n,NaN,NaN,NaN,[Sport seats],NaN
Empty weight,NaN,NaN,NaN,NaN,"[\n1,545 kg\n]"
Model code,NaN,NaN,NaN,NaN,NaN
General inspection,NaN,NaN,NaN,NaN,NaN
Last service,NaN,NaN,NaN,NaN,NaN
Full service history,NaN,NaN,NaN,NaN,NaN
Non-smoker vehicle,NaN,NaN,NaN,NaN,NaN
Emission class,NaN,NaN,NaN,NaN,NaN
Emissions sticker,NaN,NaN,NaN,NaN,NaN
Upholstery colour,NaN,NaN,NaN,NaN,NaN
Upholstery,NaN,NaN,NaN,NaN,NaN
Production date,NaN,NaN,NaN,NaN,NaN
Previous owner,NaN,NaN,NaN,NaN,NaN
Other fuel types,NaN,NaN,NaN,NaN,NaN
Power consumption,NaN,NaN,NaN,NaN,NaN
Energy efficiency class,NaN,NaN,NaN,NaN,NaN
CO₂-efficiency,NaN,NaN,NaN,NaN,NaN
Fuel consumption (WLTP),NaN,NaN,NaN,NaN,NaN
CO₂-emissions (WLTP),NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN
Taxi or rental car,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last timing belt change,NaN,NaN,NaN,NaN,NaN
Electric Range (WLTP),NaN,NaN,NaN,NaN,NaN
Power consumption (WLTP),NaN,NaN,NaN,NaN,NaN
Battery Ownership,NaN,NaN,NaN,NaN,NaN

In [12]:
df.shape

(29480, 58)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   make_model                28630 non-null  object
 1   short_description         28630 non-null  object
 2   make                      28630 non-null  object
 3   model                     28630 non-null  object
 4   location                  28630 non-null  object
 5   price                     28630 non-null  object
 6   Body type                 28630 non-null  object
 7   Type                      28630 non-null  object
 8   Doors                     28271 non-null  object
 9   Country version           16889 non-null  object
 10  Offer number              23100 non-null  object
 11  Warranty                  15784 non-null  object
 12  Mileage                   28629 non-null  object
 13  First registration        28628 non-null  object
 14  Gearbox                   28382 non-null  object
 15  Fuel type                 26843 non-null  object
 16  Colour                    26906 non-null  object
 17  Paint                     14495 non-null  object
 18  desc                      28047 non-null  object
 19  seller                    28630 non-null  object
 20  Seats                     25505 non-null  object
 21  Power                     28058 non-null  object
 22  Engine size               27227 non-null  object
 23  Gears                     18954 non-null  object
 24  CO₂-emissions             18594 non-null  object
 25  Manufacturer colour       21787 non-null  object
 26  Drivetrain                16893 non-null  object
 27  Cylinders                 18852 non-null  object
 28  Fuel consumption          23385 non-null  object
 29
Comfort & Convenience
   25433 non-null  object
 30
Entertainment & Media
   23644 non-null  object
 31
Safety & Security
       25415 non-null  object
 32
Extras
                  23480 non-null  object
 33  Empty weight              17758 non-null  object
 34  Model code                8367 non-null   object
 35  General inspection        12254 non-null  object
 36  Last service              2003 non-null   object
 37  Full service history      12565 non-null  object
 38  Non-smoker vehicle        11594 non-null  object
 39  Emission class            17859 non-null  object
 40  Emissions sticker         9414 non-null   object
 41  Upholstery colour         14569 non-null  object
 42  Upholstery                18610 non-null  object
 43  Production date           5908 non-null   float64
 44  Previous owner            14015 non-null  object
 45  Other fuel types          2313 non-null   object
 46  Power consumption         515 non-null    object
 47  Energy efficiency class   7804 non-null   object
 48  CO₂-efficiency            7804 non-null   object
 49  Fuel consumption (WLTP)   100 non-null    object
 50  CO₂-emissions (WLTP)      116 non-null    object
 51  Available from            393 non-null    object
 52  Taxi or rental car        422 non-null    object
 53  Availability              301 non-null    object
 54  Last timing belt change   572 non-null    object
 55  Electric Range (WLTP)     16 non-null     object
 56  Power consumption (WLTP)  16 non-null     object
 57  Battery Ownership         7 non-null      object
dtypes: float64(1), object(57)
memory usage: 13.0+ MB

### Standardize column names using Skimpy

In [14]:
# standardize column names

#remove "&" karakterini kaldırdık

df.columns = df.columns.str.replace("\&", " ", regex = True) 

clean_df = clean_columns(df)
df.columns = clean_df.columns.tolist()
df.columns

50 column names have been cleaned

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'body_type', 'type', 'doors', 'country_version', 'offer_number',
       'warranty', 'mileage', 'first_registration', 'gearbox', 'fuel_type',
       'colour', 'paint', 'desc', 'seller', 'seats', 'power', 'engine_size',
       'gears', 'co_emissions', 'manufacturer_colour', 'drivetrain',
       'cylinders', 'fuel_consumption', 'comfort_convenience',
       'entertainment_media', 'safety_security', 'extras', 'empty_weight',
       'model_code', 'general_inspection', 'last_service',
       'full_service_history', 'non_smoker_vehicle', 'emission_class',
       'emissions_sticker', 'upholstery_colour', 'upholstery',
       'production_date', 'previous_owner', 'other_fuel_types',
       'power_consumption', 'energy_efficiency_class', 'co_efficiency',
       'fuel_consumption_wltp', 'co_emissions_wltp', 'available_from',
       'taxi_or_rental_car', 'availability', 'last_timing_belt_change',
       'electric_range_wltp', 'power_consumption_wltp', 'battery_ownership'],
      dtype='object')

In [15]:
df.head()

,make_model,short_description,make,model,location,price,body_type,type,doors,country_version,...,co_efficiency,fuel_consumption_wltp,co_emissions_wltp,available_from,taxi_or_rental_car,availability,last_timing_belt_change,electric_range_wltp,power_consumption_wltp,battery_ownership
0,Mercedes-Benz A 160,CDi,\nMercedes-Benz\n,"[\n, A 160 ,\n]","P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","€ 16,950.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mercedes-Benz EQE 350,350+,\nMercedes-Benz\n,"[\n, EQE 350 ,\n]","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","€ 80,900.-","[\n, Compact, \n]","[\n, Pre-registered, \n]","[\n, 4, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mercedes-Benz A 45 AMG,S 4Matic+ 8G-DCT,\nMercedes-Benz\n,"[\n, A 45 AMG ,\n]","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","€ 69,900.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mercedes-Benz A 35 AMG,4Matic+ 7G-DCT,\nMercedes-Benz\n,"[\n, A 35 AMG ,\n]","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","€ 46,990.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mercedes-Benz A 45 AMG,200CDI BE Line 4M 7G-DCT,\nMercedes-Benz\n,"[\n, A 45 AMG ,\n]","CARRIL ARAGONES 4, 30007 CASILLAS, ES","€ 16,800.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Drop rows with all missing values

In [16]:
df.dropna(axis=0, how="all", inplace=True)
df.shape

(28630, 58)

In [17]:
df0 = df.copy() #keeping a copy before making changes

### Make

In [18]:
df.make.value_counts()

\nVolvo\n            3659
\nMercedes-Benz\n    2398
\nOpel\n             2385
\nPeugeot\n          2360
\nRenault\n          2351
\nFiat\n             2338
\nFord\n             2324
\nNissan\n           2064
\nToyota\n           2038
\nHyundai\n          1867
\nSEAT\n             1743
\nSkoda\n            1566
\nDacia\n            1537
Name: make, dtype: int64

In [19]:
df["make"] = df["make"].str.extract("(.+)")
df.make.value_counts(dropna=False)

Volvo            3659
Mercedes-Benz    2398
Opel             2385
Peugeot          2360
Renault          2351
Fiat             2338
Ford             2324
Nissan           2064
Toyota           2038
Hyundai          1867
SEAT             1743
Skoda            1566
Dacia            1537
Name: make, dtype: int64

In [20]:
df["make"] = df["make"].astype("string")
df.make.info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: make
Non-Null Count  Dtype
--------------  -----
28630 non-null  string
dtypes: string(1)
memory usage: 447.3 KB

### Recode location column to country

In [21]:
# extract the last word as country name abbreviation

df["country"] = df["location"].str.extract("(\w\w$)")
df["country"].value_counts(dropna=False)
df["country"] = df["country"].astype("string")
# there are no missing values

In [22]:
df.country.info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: country
Non-Null Count  Dtype
--------------  -----
28630 non-null  string
dtypes: string(1)
memory usage: 447.3 KB

### Price

In [23]:
df["price"]= df['price'].str.replace('\D+', '', regex=True)
df["price"]= df.price.astype("int")
df.price.isna().sum()

0

### Body_type

In [24]:
df.body_type.value_counts()

[\n, Station wagon, \n]       5448
[\n, Off-Road/Pick-up, \n]    5415
[\n, Compact, \n]             5387
[\n, Sedan, \n]               5043
[\n, Coupe, \n]               4009
[\n, Convertible, \n]         3328
Name: body_type, dtype: int64

In [25]:
df["body_type"] = df["body_type"].apply(lambda item : item[0] if type(item)==list else item)
df["body_type"].value_counts(dropna=False)

\n, Station wagon, \n       5448
\n, Off-Road/Pick-up, \n    5415
\n, Compact, \n             5387
\n, Sedan, \n               5043
\n, Coupe, \n               4009
\n, Convertible, \n         3328
Name: body_type, dtype: int64

In [26]:

df["body_type"] = df["body_type"].str.extract(", ([^,]+),")
df["body_type"].value_counts()

Station wagon       5448
Off-Road/Pick-up    5415
Compact             5387
Sedan               5043
Coupe               4009
Convertible         3328
Name: body_type, dtype: int64

### Type

In [27]:
df.type.value_counts(dropna=False)

[\n, Used, \n]              25251
[\n, Demonstration, \n]      1433
[\n, Pre-registered, \n]     1377
[\n, Employee's car, \n]      569
Name: type, dtype: int64

In [28]:
df["type"] = df["type"].apply(lambda item : item[0] if type(item)==list else item)
df["type"]

pattern = r',\s*([^,]+),'
df["type"] = df["type"].str.extract(pattern)

In [29]:
df["type"].value_counts()

Used              25251
Demonstration      1433
Pre-registered     1377
Employee's car      569
Name: type, dtype: int64

### Doors

In [30]:
df.doors.value_counts(dropna=False)

[\n, 5, \n]    17481
[\n, 2, \n]     5523
[\n, 4, \n]     3001
[\n, 3, \n]     2259
NaN              359
[\n, 6, \n]        5
[\n, 1, \n]        2
Name: doors, dtype: int64

In [31]:
df["doors"] = df["doors"].apply(lambda item : item[0] if type(item)==list else item)
df["doors"].value_counts(dropna=False)

\n, 5, \n    17481
\n, 2, \n     5523
\n, 4, \n     3001
\n, 3, \n     2259
NaN            359
\n, 6, \n        5
\n, 1, \n        2
Name: doors, dtype: int64

In [32]:
df["doors"] = df["doors"].str.extract("(\d)")
df["doors"].value_counts(dropna=False)

5      17481
2       5523
4       3001
3       2259
NaN      359
6          5
1          2
Name: doors, dtype: int64

In [33]:
df["doors"].info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: doors
Non-Null Count  Dtype
--------------  -----
28271 non-null  object
dtypes: object(1)
memory usage: 447.3+ KB

### Warranty

In [34]:
df.warranty.value_counts(dropna=False)

NaN                     12846
[\n, 12 months, \n]      9545
[\n, Yes, \n]            2319
[\n, 24 months, \n]      1515
[\n, 60 months, \n]       968
                        ...
[\n, 55 months, \n]         1
[\n, 99 months, \n]         1
[\n, 122 months, \n]        1
[\n, 44 months, \n]         1
[\n, 4 months, \n]          1
Name: warranty, Length: 66, dtype: int64

In [35]:
df["warranty"] = df["warranty"].apply(lambda item : item[0] if type(item)==list else item)
df.warranty

0        \n, 24 months, \n
1        \n, 24 months, \n
2        \n, 12 months, \n
3        \n, 12 months, \n
4        \n, 12 months, \n
               ...
29474    \n, 12 months, \n
29475                  NaN
29476    \n, 13 months, \n
29477    \n, 12 months, \n
29478                  NaN
Name: warranty, Length: 28630, dtype: object

In [36]:
df["warranty"] = df["warranty"].str.extract(r"\b(.+)\b")
df["warranty"].value_counts(dropna=False)

NaN           12846
12 months      9545
Yes            2319
24 months      1515
60 months       968
              ...
55 months         1
99 months         1
122 months        1
44 months         1
4 months          1
Name: warranty, Length: 66, dtype: int64

In [37]:
# remember to handle "0 months"

### Mileage

In [38]:
df.mileage.describe()

count     28629
unique    14183
top       10 km
freq        586
Name: mileage, dtype: object

In [39]:
df.mileage.head()
df.mileage.isna().sum()

1

In [40]:
df["mileage"] = df["mileage"].str.extract("(\d+,?\d*)")
df["mileage"] = df["mileage"].str.replace(',', '')

In [41]:
df.loc[df["mileage"].isna()]

,make_model,short_description,make,model,location,price,body_type,type,doors,country_version,...,fuel_consumption_wltp,co_emissions_wltp,available_from,taxi_or_rental_car,availability,last_timing_belt_change,electric_range_wltp,power_consumption_wltp,battery_ownership,country
10870,Fiat 500X,1.5 Hybrid Cabrio Automaat Yacht Club Capri,Fiat,"[\n, 500X ,\n]","Cruquiusweg 35, 2102 LS HEEMSTEDE, NL",41570,Off-Road/Pick-up,Demonstration,5,"[\n, Netherlands, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NL

In [42]:
df["mileage"].info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: mileage
Non-Null Count  Dtype
--------------  -----
28629 non-null  object
dtypes: object(1)
memory usage: 447.3+ KB

In [43]:
df["mileage"].describe()

count     28629
unique    14180
top          10
freq        586
Name: mileage, dtype: object

In [44]:
for i in df.columns:
    df[i]  = [item[0] if type(item) == list else item for item in df[i]]
df.head(1)

# extract items from list for all columns

,make_model,short_description,make,model,location,price,body_type,type,doors,country_version,...,fuel_consumption_wltp,co_emissions_wltp,available_from,taxi_or_rental_car,availability,last_timing_belt_change,electric_range_wltp,power_consumption_wltp,battery_ownership,country
0,Mercedes-Benz A 160,CDi,Mercedes-Benz,"\n, A 160 ,\n","P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...",16950,Compact,Used,5,"\n, Spain, \n",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES

### get original columns from the copy "df0" for "fuel_consumption", "previous_owner", "desc"

In [45]:
df["fuel_consumption"] = df0["fuel_consumption"]  #taken originals from the data we copied earlier
df["fuel_consumption"]

0                                                      NaN
1                                                      NaN
2        [[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...
3        [[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...
4        [[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]...
                               ...
29474                               [[2 l/100 km (comb.)]]
29475    [[9.1 l/100 km (comb.)], [13.2 l/100 km (city)...
29476    [[3.8 l/100 km (comb.)], [4.3 l/100 km (city)]...
29477    [[6.5 l/100 km (comb.)], [8.6 l/100 km (city)]...
29478    [[10.4 l/100 km (comb.)], [15.3 l/100 km (city...
Name: fuel_consumption, Length: 28630, dtype: object

In [46]:
df["previous_owner"] = df0["previous_owner"]     #taken originals from the data we copied earlier
df["previous_owner"]

0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
                    ...
29474                           NaN
29475                           NaN
29476     [[96,000 km, 04/2011], 1]
29477                           NaN
29478    [[230,047 km, 07/2002], 5]
Name: previous_owner, Length: 28630, dtype: object

In [47]:
df["desc"] = df0["desc"]     #taken originals from the data we copied earlier
df["desc"]

0        [ , Precio al contado: 16950 euros,  ,  , Vehí...
1        [ , Precio al contado: 88900 euros,  , AUTO OJ...
2        [Gris MANUFAKTUR mountaingrau magno,  , Linea/...
3        [ , Precio al contado: 48990 euros,  ,  , BONI...
4        [ , Precio al contado: 17400 euros,  , Vehícul...
                               ...
29474    [ , Precio al contado: 41400 euros,  , Os pres...
29475    [Een goed rijdende auto met APK + NAP + Elektr...
29476    [*** VOLVO C30 2011 TRES PROPRE EN PARFAIT ETA...
29477    [Bekijk deze auto in unieke 360 graden present...
29478    [YOUNGTIMER !, Bedrijfsinformatie, NEEM VOOR U...
Name: desc, Length: 28630, dtype: object

### First registration

In [48]:
df['first_registration']

0        06/2016
1        06/2022
2        07/2020
3        01/2020
4        09/2015
          ...
29474    08/2019
29475    06/2004
29476    04/2011
29477    11/2017
29478    07/2002
Name: first_registration, Length: 28630, dtype: object

In [49]:
df['first_registration'].info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: first_registration
Non-Null Count  Dtype
--------------  -----
28628 non-null  object
dtypes: object(1)
memory usage: 447.3+ KB

In [50]:
df['first_registration'] = pd.to_datetime(df['first_registration'])

In [51]:
df['first_registration'].info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: first_registration
Non-Null Count  Dtype
--------------  -----
28628 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 447.3 KB

In [52]:
df['first_registration']

0       2016-06-01
1       2022-06-01
2       2020-07-01
3       2020-01-01
4       2015-09-01
           ...
29474   2019-08-01
29475   2004-06-01
29476   2011-04-01
29477   2017-11-01
29478   2002-07-01
Name: first_registration, Length: 28630, dtype: datetime64[ns]

In [53]:
df['first_registration'].info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: first_registration
Non-Null Count  Dtype
--------------  -----
28628 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 447.3 KB

In [54]:
# two missing values our new vehicles for demonstration. recode as 2022

### Gearbox

In [55]:
df['gearbox']

0           \nManual\n
1        \nAutomatic\n
2        \nAutomatic\n
3        \nAutomatic\n
4        \nAutomatic\n
             ...
29474    \nAutomatic\n
29475    \nAutomatic\n
29476       \nManual\n
29477    \nAutomatic\n
29478    \nAutomatic\n
Name: gearbox, Length: 28630, dtype: object

In [56]:
df['gearbox'].value_counts(dropna=False)

\nManual\n            17023
\nAutomatic\n         11287
NaN                     248
\nSemi-automatic\n       72
Name: gearbox, dtype: int64

In [57]:
df['gearbox'] = df['gearbox'].str.strip("\n ")

In [58]:
df['gearbox'].value_counts(dropna=False)

Manual            17023
Automatic         11287
NaN                 248
Semi-automatic       72
Name: gearbox, dtype: int64

In [59]:
df['gearbox']

0           Manual
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
29474    Automatic
29475    Automatic
29476       Manual
29477    Automatic
29478    Automatic
Name: gearbox, Length: 28630, dtype: object

In [60]:
df['gearbox'].value_counts(dropna=False)

Manual            17023
Automatic         11287
NaN                 248
Semi-automatic       72
Name: gearbox, dtype: int64

In [61]:
df['gearbox'] = df['gearbox'].str.strip("\n ")

In [62]:
df['gearbox'].value_counts(dropna=False)

Manual            17023
Automatic         11287
NaN                 248
Semi-automatic       72
Name: gearbox, dtype: int64

### Fuel type

In [63]:
df['fuel_type'].unique()
# Define unique values to lists
benzine = ['Gasoline','Regular/Benzine 91','Regular/Benzine 91 (Particle filter)', 'Super 95', 'Super E10 95', 'Gasoline (Particle filter)','Super 95 (Particle filter)','Super Plus 98',\
           'Super E10 95 (Particle filter)','Regular/Benzine E10 91','Super Plus E10 98', 'Super Plus E10 98 (Particle filter)', 'Super Plus 98 (Particle filter)', 'Ethanol', \
           'Regular/Benzine E10 91 (Particle filter)', 'Super 95 (Particle filter) / Super E10 95 / Ethanol']
diesel  = ['Diesel']
diesel_particule_filter = ['Diesel (Particle filter)']
LPG =  ['LPG', 'Liquid petroleum gas (LPG)','Liquid petroleum gas (LPG) / Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Biogas', 'CNG',\
        'Liquid petroleum gas (LPG) (Particle filter) / Super 95 / Super E10 95','Liquid petroleum gas (LPG) / Super 95 / Super E10 95',\
        'LPG (Particle filter)', 'Electric (Particle filter)', 'Domestic gas L','Liquid petroleum gas (LPG) / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95',\
        'CNG (Particle filter)', 'Domestic gas H', 'Domestic gas L (Particle filter)', 'Biogas',\
        'Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L',\
        'Domestic gas L / Super 95 / Domestic gas H','Super 95 / Super Plus 98 / Liquid petroleum gas (LPG)',\
        'Liquid petroleum gas (LPG) (Particle filter)', 'Liquid petroleum gas (LPG) / Super 95',\
        'Liquid petroleum gas (LPG) / Super 95 / Super E10 95 / Super Plus 98', 'Liquid petroleum gas (LPG) / Super 95 / Super Plus 98',\
        'Liquid petroleum gas (LPG) / Super E10 95', 'Liquid petroleum gas (LPG) / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95', 'Super 95 / Liquid petroleum gas (LPG)']
electric = ['Electric']
others =  ['Others', 'Others (Particle filter)']
hydrogen = ["Hydrogen"]
def map_fuel_types(fuel_type):
    if fuel_type in benzine:
        return "Benzine"
    elif fuel_type in diesel:
        return "Diesel"
    elif fuel_type in LPG:
        return "LPG/CNG"
    elif fuel_type in diesel_particule_filter:
        return "Diesel"
    elif fuel_type in electric:
        return "Electric"
    elif fuel_type in others:
        return "Others"
    elif fuel_type in hydrogen:
        return "Electric"
    else:
        return np.nan
      

df['new_fuel_type'] = df['fuel_type'].map(map_fuel_types) 
df['new_fuel_type'].value_counts(dropna=False)

Benzine     17334
Diesel       8727
NaN          1787
LPG/CNG       381
Others        213
Electric      188
Name: new_fuel_type, dtype: int64

### Paint

In [64]:
df["paint"].value_counts(dropna=False)

Metallic     14494
NaN          14135
Uni/basic        1
Name: paint, dtype: int64

In [65]:
df["paint2"] = df["paint"].apply(lambda x: 1 if x == "Metallic" else 0)

In [66]:
df["paint2"].value_counts(dropna=False)

1    14494
0    14136
Name: paint2, dtype: int64

### Desc

In [67]:
df["desc"] = [",".join(item) if type (item) ==list else item for item in df["desc"]]

In [68]:
df["desc"].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  88
Genaue Angaben zu der Serienausstattung, finden Sie auf unsere Homepage.,Gerne nehmen wir Ihr Aktuelles Fahrzeug zurück!,Der Verkäufer übernimmt keine Haftung für Tipp und Datenübermittlungsfehler.,Angeführte Ausstattungen sind ggfs. gesondert vor Ort zu prüfen.,Alle Angaben in den Inseraten sind unverbindlich und ohne Gewähr., ,Dacia Jogger TCe 110 Extreme+ 7-Sitzer, ,Sonderausstattung, ,City-Paket, ,- elektrische Parkbremse,- erhöhte Mittelkonsole,- Einparkhilfe vorne und hinten,- Rückfahrkamera,- Toter-Winkel-Warner, ,Sitzheizung für Vordersitze, ,Klimaautomatik, ,Scheiben hinten abgedunkelt, ,7-Sitzer, ,Serienausstattung, , ,Eco LED-Scheinwerfer, ,Reserverad, ,Notbremsassistent, ,ECO-Mode, ,12V Steckdose, ,Klapptische für zweite Sitzreihe, ,El. Parkbremse, ,Sonnenblenden mit Make-up-Spiegel, ,Beifahrersonnenblende mit Make-up-Spiegel, ,Fahrersitz höhenverstellbar, ,Lenkrad höhen- und längsverstellbar, ,Rücksitzbank 60/40 umklappbar, ,Servolenkung, ,Zentralverriegelung, ,El. Fensterheber vorne und hinten, ,El. Seitenspiegel, ,Schlüssellose Zentralverriegelung, ,Armlehne, ,Lenkrad in Lederoptik mit Multifunktion, ,Dachreling modular, ,Leichtmetallfelgen in schwarz mit Sommerreifen, ,Reifendruck-Kontrolle, ,Dacia Media Nav Multimediasystem, ,DAB-Radio, ,MP3 fähig, ,Bluetooth, ,USB-Anschluss, ,Touchscreen, ,CarPlay, ,Android Auto, ,Sprachsteuerung, ,Navigationssystem, ,Tempomat, ,Freisprecheinrichtung, ,Bordcomputer Check-Control, ,Geschwindigkeitsbegrenzungsanlage, ,inkl. Garantie, ,Scheckheftgepflegt, ,Nichtraucher-Fhrz., ,ABS, ,ESP, ,Traktionskontrolle, ,E10 geeignet, ,Partikelfilter, ,Regensensor, ,El. Wegfahrsperre, ,Start/Stop-Automatik, ,Notrufsystem, ,Isofi,x ,Nebelscheinwerfer, ,LED-Tagfahrlicht, ,Tagfahrlicht, ,Lichtsensor, ,Fahrer-Airbag, ,Beifahrer-Airbag, ,Tür/Seiten-Airbag, ,Fahrzeug ist voraussichtlich verfügbar in 6 - 8 Wochen!, ,5-türig, Tageszulassung, Zustand, Unfall: unfallfrei,sofort lieferbar,See more                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              51
Ref.  4236LFG,           OCASIONPLUS,SÓLO ESTE MES MEJOR PRECIO GARANTIZADO,COMPRA CON TOTAL CONFIANZA - 15 DÍAS O 1000 KMs DE PRUEBA,OCASIONPLUS - Nº1 Calidad/Precio,5000 COCHES - 50 centros en toda la península ,Elige tu coche y te lo llevamos a tu provincia,Hasta 2350€ de descuento en este coche,ADEMÁS HACEMOS FINANCIACIONES A MEDIDA, PREGÚNTANOS!!,Equipamiento destacado: Techo panorámico, Tapicería de piel, Asistente de aparcamiento, Navegador, Encendido automático de faros, Arranque por botón, Start/Stop automático, Control de velocidad, Volante multifunción, Bluetooth, Aire Acondicionado (Climatizador), Control de tracción, Llantas de aleación (18").,- Garantía total 1 año, con cobertura nacional, ampliable a 24 meses.,- Certificado de Kilómetros y ausencia de golpes estructurales.,- Sobrevaloramos tu coche en operaciones de cambio. Tásalo ahora en ocasionplus.com,- Entregamos cualquier coche en cualquier centro por 100€,- Abierto Domingo y Festivos., ,Extras, , ,Equipamiento destacado seleccionado por el usuario, , ,- Llantas de aleación de 18",- Techo panorámico,- Navegador,- Start/Stop automático,- Control de velocidad,- Volante multifunción,- Bluetooth,- Control de tracción,- Climatizador,- Llantas de aleación,- Aire Acondicionado,- Tapicería de piel,- Asistente de aparcamiento,- Encendido automático de faros,- Arranque por botón,See more                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        34
 ,Precio al contado: 15200 euros, ,Ref.  6710KJS,           "OCASIONPLUS,SÓLO ESTE MES MEJOR PRECIO GARANTIZADO,COMPRA CON TOTAL CONFIANZA - 15 DÍAS O 1000 KMs DE PRUEBA,OCASIONPLUS - Nº1 Calidad/Precio,5000 COCHES - 50 centros en toda la península ,Elige tu coche y te lo llevamos a tu provincia,Hasta 1382€ de descuento en este coche,Precio oferta financiado: 13818€ (202€/mes) financiando la totalidad a un plazo mínimo de 60 meses,Precio al contado: 15200€ ADEMÁS HACEMOS FINANCIACIONES A MEDIDA, PREGÚNTANOS!!",Equipamiento destacado: Faros traseros led, Bluetooth, Arranque por botón, Aire Acondicionado (Climatizador), Isofix, Llantas de aleación (16").,- Coche Nacional.,- Garantía total 1 año, con cobertura nacional, ampliable a 24 meses.,- Certificado de Kilómetros y ausencia de golpes estructurales.,- Sobrevaloramos tu coche en operaciones de cambio. Tásalo ahora en ocasionplus.com,- Entregamos cualquier coche en cualquier centro por 100€,- Abierto Domingo y Festivos., ,Extras, , ,Equipamiento destacado seleccionado por el usuario, , ,- Bluetooth,- Climatizador,- Llantas de aleación,- Aire Acondicionado,- Llantas de aleación de 16",- Faros traseros led,- Isofi,x- Arranque por botón, ,Condiciones de la financiación, ,"OCASIONPLUS,SÓLO ESTE MES MEJOR PRECIO GARANTIZADO,COMPRA CON TOTAL CONFIANZA - 15 DÍAS O 1000 KMs DE PRUEBA,OCASIONPLUS - Nº1 Calidad/Precio,5000 COCHES - 50 centros en toda la península ,Elige tu coche y te lo llevamos a tu provincia,Hasta 1382€ de descuento en este coche,Precio oferta financiado: 13818€ (202€/mes) financiando la totalidad a un plazo mínimo de 60 meses,Precio al contado: 15200€ ADEMÁS HACEMOS FINANCIACIONES A MEDIDA, PREGÚNTANOS!!",See more                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            34

### Seller

In [69]:
df.seller.value_counts(dropna=False)

Dealer            26318
Private seller     2312
Name: seller, dtype: int64

In [70]:
df.seller.isna().sum()

0

In [71]:
df.seller = df.seller.astype("string")

In [72]:
df.seller.info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: seller
Non-Null Count  Dtype
--------------  -----
28630 non-null  string
dtypes: string(1)
memory usage: 447.3 KB

### Seats

In [73]:
df.seats.value_counts(dropna=False)

\n, 5, \n     18308
\n, 4, \n      5390
NaN            3125
\n, 2, \n      1186
\n, 7, \n       488
\n, 8, \n        43
\n, 9, \n        35
\n, 3, \n        25
\n, 6, \n        12
\n, 0, \n         9
\n, 1, \n         7
\n, 17, \n        2
Name: seats, dtype: int64

In [74]:
df['seats'] = df['seats'].str.strip("\n, ")
df['seats'].value_counts(dropna=False)

5      18308
4       5390
NaN     3125
2       1186
7        488
8         43
9         35
3         25
6         12
0          9
1          7
17         2
Name: seats, dtype: int64

### Power

In [75]:
df.power

0                        NaN
1        \n215 kW (292 hp)\n
2        \n310 kW (421 hp)\n
3        \n225 kW (306 hp)\n
4        \n100 kW (136 hp)\n
                ...
29474    \n288 kW (392 hp)\n
29475    \n125 kW (170 hp)\n
29476     \n84 kW (114 hp)\n
29477    \n187 kW (254 hp)\n
29478    \n147 kW (200 hp)\n
Name: power, Length: 28630, dtype: object

In [76]:
df.power.isna().sum()

572

In [77]:
df["power_kwh"] = df["power"].str.extract(r"\n(\d+) ")
df["power_kwh"].isna().sum()
# verified that the sum of missing values are the same after extraction of kwh

572

In [78]:
# astype("Int64")  converts string to numerical values if can't converts to "NaN"

### Engine Size

In [79]:
df.engine_size

0                 NaN
1            \n1 cc\n
2        \n1,991 cc\n
3        \n1,991 cc\n
4        \n2,143 cc\n
             ...
29474    \n1,969 cc\n
29475    \n2,435 cc\n
29476    \n1,560 cc\n
29477    \n1,969 cc\n
29478    \n2,922 cc\n
Name: engine_size, Length: 28630, dtype: object

In [80]:
df.engine_size.isna().sum()

1403

In [81]:
df[df.engine_size ==" "]

Empty DataFrame
Columns: [make_model, short_description, make, model, location, price, body_type, type, doors, country_version, offer_number, warranty, mileage, first_registration, gearbox, fuel_type, colour, paint, desc, seller, seats, power, engine_size, gears, co_emissions, manufacturer_colour, drivetrain, cylinders, fuel_consumption, comfort_convenience, entertainment_media, safety_security, extras, empty_weight, model_code, general_inspection, last_service, full_service_history, non_smoker_vehicle, emission_class, emissions_sticker, upholstery_colour, upholstery, production_date, previous_owner, other_fuel_types, power_consumption, energy_efficiency_class, co_efficiency, fuel_consumption_wltp, co_emissions_wltp, available_from, taxi_or_rental_car, availability, last_timing_belt_change, electric_range_wltp, power_consumption_wltp, battery_ownership, country, new_fuel_type, paint2, power_kwh]
Index: []

[0 rows x 62 columns]

In [82]:
df["engine_size"] = df["engine_size"].str.replace(',', '').str.extract('(\d+)')
df["engine_size"].isna().sum()

1403

In [83]:
df.engine_size = df.engine_size.astype("Int64")

In [84]:
df.engine_size.describe()

count        27227.0
mean     1755.001983
std      1029.859982
min              0.0
25%           1332.0
50%           1598.0
75%           1984.0
max          99900.0
Name: engine_size, dtype: Float64

In [85]:
df.engine_size.info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: engine_size
Non-Null Count  Dtype
--------------  -----
27227 non-null  Int64
dtypes: Int64(1)
memory usage: 475.3 KB

In [86]:
df[df.engine_size==0]["engine_size"].count()

117

### Gears

In [87]:
df.gears

0          NaN
1        \n9\n
2        \n8\n
3        \n7\n
4        \n7\n
         ...
29474    \n8\n
29475    \n5\n
29476    \n6\n
29477    \n8\n
29478      NaN
Name: gears, Length: 28630, dtype: object

In [88]:
df.gears.isna().sum()

9676

In [89]:
df["gears"] = df["gears"].str.extract('(\d+)')
df["gears"]

0        NaN
1          9
2          8
3          7
4          7
        ...
29474      8
29475      5
29476      6
29477      8
29478    NaN
Name: gears, Length: 28630, dtype: object

In [90]:
df["gears"].info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: gears
Non-Null Count  Dtype
--------------  -----
18954 non-null  object
dtypes: object(1)
memory usage: 447.3+ KB

In [91]:
df.gears.value_counts(dropna=False)

NaN    9676
6      8412
5      5335
7      1738
8      1690
1       712
9       642
4       256
10      112
0        31
3        24
2         2
Name: gears, dtype: int64

In [92]:
df.gears = df.gears.astype("Int64")

In [93]:
df.gears.info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: gears
Non-Null Count  Dtype
--------------  -----
18954 non-null  Int64
dtypes: Int64(1)
memory usage: 475.3 KB

### CO2 Emission

In [94]:
df["co_emissions"].sample(20)

6539      88 g/km (comb.)
5315     166 g/km (comb.)
16851    166 g/km (comb.)
13487    109 g/km (comb.)
2610     103 g/km (comb.)
22606                 NaN
4938     127 g/km (comb.)
26887    156 g/km (comb.)
26827    229 g/km (comb.)
26468                 NaN
2033     230 g/km (comb.)
6319       0 g/km (comb.)
19049    109 g/km (comb.)
21969                 NaN
6427     123 g/km (comb.)
4574     124 g/km (comb.)
22316    225 g/km (comb.)
3747                  NaN
19594    262 g/km (comb.)
115                   NaN
Name: co_emissions, dtype: object

In [95]:
df["co_emissions"].isna().sum()

10036

In [96]:
df["co2_emissions"] = df["co_emissions"].str.extract("(\d+)")
df["co2_emissions"]

0        NaN
1          0
2        NaN
3        NaN
4        NaN
        ...
29474    NaN
29475    217
29476     99
29477    149
29478    251
Name: co2_emissions, Length: 28630, dtype: object

In [97]:
df["co_emissions"]

0                     NaN
1          0 g/km (comb.)
2                     NaN
3                     NaN
4                     NaN
               ...
29474                 NaN
29475    217 g/km (comb.)
29476     99 g/km (comb.)
29477    149 g/km (comb.)
29478    251 g/km (comb.)
Name: co_emissions, Length: 28630, dtype: object

In [98]:
df["co2_emissions"] = df["co2_emissions"].astype("Int64")

In [99]:
df["co2_emissions"].isna().sum()

10036

In [100]:
df[df["co2_emissions"]==0]["co2_emissions"].count()

1040

### drivetrain

In [101]:
df["drivetrain"]

0                  NaN
1                  NaN
2          \n, 4WD, \n
3          \n, 4WD, \n
4          \n, 4WD, \n
             ...
29474      \n, 4WD, \n
29475    \n, Front, \n
29476    \n, Front, \n
29477              NaN
29478    \n, Front, \n
Name: drivetrain, Length: 28630, dtype: object

In [102]:
df["drivetrain"].value_counts(dropna=False)

\n, Front, \n    12066
NaN              11737
\n, 4WD, \n       3252
\n, Rear, \n      1575
Name: drivetrain, dtype: int64

In [103]:
df["drivetrain"] = df["drivetrain"].str.extract("(\d?\w+)", expand=True)
df["drivetrain"].value_counts(dropna=False)

Front    12066
NaN      11737
4WD       3252
Rear      1575
Name: drivetrain, dtype: int64

### cylinders

In [104]:
df["cylinders"]

0          NaN
1          NaN
2        \n4\n
3        \n4\n
4        \n4\n
         ...
29474    \n4\n
29475    \n5\n
29476    \n4\n
29477    \n4\n
29478    \n6\n
Name: cylinders, Length: 28630, dtype: object

In [105]:
df["cylinders"].value_counts(dropna=False)

\n4\n     13068
NaN        9778
\n3\n      3258
\n6\n      1013
\n5\n       799
\n8\n       539
\n2\n       103
\n0\n        35
\n1\n        21
\n12\n        8
\n7\n         6
\n26\n        1
\n16\n        1
Name: cylinders, dtype: int64

In [106]:
df["cylinders"] = df["cylinders"].str.extract("(\d\d?)", expand=True)
df["cylinders"].value_counts(dropna=False)

4      13068
NaN     9778
3       3258
6       1013
5        799
8        539
2        103
0         35
1         21
12         8
7          6
26         1
16         1
Name: cylinders, dtype: int64

In [107]:
df["cylinders"]

0        NaN
1        NaN
2          4
3          4
4          4
        ...
29474      4
29475      5
29476      4
29477      4
29478      6
Name: cylinders, Length: 28630, dtype: object

### fuel_consumption

In [108]:
df["fuel_consumption"]

0                                                      NaN
1                                                      NaN
2        [[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...
3        [[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...
4        [[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]...
                               ...
29474                               [[2 l/100 km (comb.)]]
29475    [[9.1 l/100 km (comb.)], [13.2 l/100 km (city)...
29476    [[3.8 l/100 km (comb.)], [4.3 l/100 km (city)]...
29477    [[6.5 l/100 km (comb.)], [8.6 l/100 km (city)]...
29478    [[10.4 l/100 km (comb.)], [15.3 l/100 km (city...
Name: fuel_consumption, Length: 28630, dtype: object

In [109]:
df["fuel_consumption"].value_counts(dropna=False)

NaN                                                                            5245
[[0 l/100 km (comb.)]]                                                          330
[[0 l/100 km (comb.)], [0 l/100 km (city)], [0 l/100 km (country)]]             306
[[3.4 l/100 km (comb.)], [3.7 l/100 km (city)], [3.2 l/100 km (country)]]       170
[[4 l/100 km (comb.)]]                                                          149
                                                                               ...
[[14.2 l/100 km (comb.)], [21.3 l/100 km (city)], [10 l/100 km (country)]]        1
[[3.5 l/100 km (comb.)], [4.4 l/100 km (city)], [2.9 l/100 km (country)]]         1
[[4.5 l/100 km (comb.)], [6.2 l/100 km (city)], [3.5 l/100 km (country)]]         1
[[4.9 l/100 km (comb.)], [99.9 l/100 km (city)], [98 l/100 km (country)]]         1
[[10.4 l/100 km (comb.)], [15.3 l/100 km (city)], [7.6 l/100 km (country)]]       1
Name: fuel_consumption, Length: 3453, dtype: int64

In [110]:
df["fuel_consumption"] = df.fuel_consumption.apply(lambda x: "".join([item for sublist in x for item in sublist]) if isinstance(x, list) else x)
df["fuel_consumption"].value_counts(dropna=False)   #nested lists recovered

NaN                                                                5245
0 l/100 km (comb.)                                                  330
0 l/100 km (comb.)0 l/100 km (city)0 l/100 km (country)             306
3.4 l/100 km (comb.)3.7 l/100 km (city)3.2 l/100 km (country)       170
4 l/100 km (comb.)                                                  149
                                                                   ...
14.2 l/100 km (comb.)21.3 l/100 km (city)10 l/100 km (country)        1
3.5 l/100 km (comb.)4.4 l/100 km (city)2.9 l/100 km (country)         1
4.5 l/100 km (comb.)6.2 l/100 km (city)3.5 l/100 km (country)         1
4.9 l/100 km (comb.)99.9 l/100 km (city)98 l/100 km (country)         1
10.4 l/100 km (comb.)15.3 l/100 km (city)7.6 l/100 km (country)       1
Name: fuel_consumption, Length: 3453, dtype: int64

In [111]:
df["fuel_consumption_comb"] = df["fuel_consumption"].str.extract("(\d\.?\d?.\w\w?/100 km \(comb.\))")
df["fuel_consumption_comb"].value_counts(dropna=False)

NaN                      5283
5 l/100 km (comb.)        818
4.9 l/100 km (comb.)      811
4.5 l/100 km (comb.)      691
5.1 l/100 km (comb.)      640
                         ...
16 l/100 km (comb.)         1
6.1 kg/100 km (comb.)       1
57 l/100 km (comb.)         1
61 l/100 km (comb.)         1
0.9 kg/100 km (comb.)       1
Name: fuel_consumption_comb, Length: 148, dtype: int64

In [112]:
df["fuel_consumption_city"] = df["fuel_consumption"].str.extract("(\d\.?\d?.\w\w?/100 km \(city\))")
df["fuel_consumption_city"].value_counts(dropna=False)

NaN                     8485
5.3 l/100 km (city)      522
5.8 l/100 km (city)      517
5.7 l/100 km (city)      490
6.4 l/100 km (city)      484
                        ...
5.8 kg/100 km (city)       1
8.1 kg/100 km (city)       1
1.5 kg/100 km (city)       1
79 l/100 km (city)         1
8 kg/100 km (city)         1
Name: fuel_consumption_city, Length: 155, dtype: int64

In [113]:
df["fuel_consumption_country"] = df["fuel_consumption"].str.extract("(\d\.?\d?.\w\w?/100 km \(country\))")
df["fuel_consumption_country"].value_counts(dropna=False)

NaN                        8480
4.3 l/100 km (country)      866
4 l/100 km (country)        804
4.2 l/100 km (country)      748
4.7 l/100 km (country)      728
                           ...
6 kg/100 km (country)         1
49 l/100 km (country)         1
1.5 l/100 km (country)        1
3.4 kg/100 km (country)       1
6.6 kg/100 km (country)       1
Name: fuel_consumption_country, Length: 133, dtype: int64

In [114]:
df["comfort_convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                            3197
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                                              244
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                                                                                                                                                                                                                     171
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                              168
Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                157
                                                                                                                                                                                                                                                                                                                                                                                                               ...
Armrest, Automatic climate control, 2 zones, Cruise control, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system                                                                                     1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electric tailgate, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                               1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows       1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows           1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows                                                                                                                                                                                                         1
Name: comfort_convenience, Length: 14439, dtype: int64

In [115]:
df["comfort_convenience"] = [",".join(item) if type (item) ==list else item for item in df["comfort_convenience"]]

In [116]:
df["comfort_convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                            3197
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                                              244
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                                                                                                                                                                                                                     171
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                              168
Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                157
                                                                                                                                                                                                                                                                                                                                                                                                               ...
Armrest, Automatic climate control, 2 zones, Cruise control, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system                                                                                     1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electric tailgate, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                               1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows       1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows           1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows                                                                                                                                                                                                         1
Name: comfort_convenience, Length: 14439, dtype: int64

In [117]:
df["comfort_convenience"]

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        Air conditioning, Automatic climate control, P...
4        Air conditioning, Electrical side mirrors, Mul...
                               ...
29474    Air conditioning, Automatic climate control, M...
29475    Air conditioning, Armrest, Automatic climate c...
29476    Air conditioning, Armrest, Automatic climate c...
29477    Air conditioning, Armrest, Automatic climate c...
29478    Air conditioning, Armrest, Cruise control, Ele...
Name: comfort_convenience, Length: 28630, dtype: object

In [118]:
df["comfort_convenience"] = df["comfort_convenience"].astype("str")

In [119]:
df["comfort_convenience"] = df["comfort_convenience"].str.lower()

In [120]:
df["entertainment_media"].value_counts(dropna=False)

NaN                                                                                                                                                                        4986
Bluetooth, USB                                                                                                                                                              753
Bluetooth                                                                                                                                                                   665
On-board computer                                                                                                                                                           662
CD player, On-board computer, Radio                                                                                                                                         644
                                                                                                                                                                           ...
Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Digital radio, Induction charging for smartphones, On-board computer, Radio, Sound system, WLAN / WiFi hotspot       1
Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Integrated music streaming, On-board computer, Sound system, USB, WLAN / WiFi hotspot             1
Digital cockpit, Digital radio, On-board computer, Radio                                                                                                                      1
Android Auto, Apple CarPlay, Digital radio, On-board computer, Radio, Sound system, USB, WLAN / WiFi hotspot                                                                  1
Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB                                                                                               1
Name: entertainment_media, Length: 1945, dtype: int64

In [121]:
df["entertainment_media"] = [",".join(item) if type (item) ==list else item for item in df["entertainment_media"]]

In [122]:
df["entertainment_media"] = df["entertainment_media"].astype("str")
df["entertainment_media"] = df["entertainment_media"].str.lower()

In [123]:
df["safety_security"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          3215
Isofix                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        380
ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                             328
ABS, Central door lock, Driver-side airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                                                                                                         125
ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                                                     121
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
Daytime running lights, Emergency brake assistant, Fog lights, Isofix, LED Daytime Running Lights, Lane departure warning system, Power steering, Tire pressure monitoring system                                                                                                                                                                                                                                                                                                                                               1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Full-LED headlights, Glare-free high beam headlights, Immobilizer, Isofix, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                1
ABS, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, LED Daytime Running Lights, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                                                                                                                                                                                1
ABS, Blind spot monitor, Central door lock, Daytime running lights, Distance warning system, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Fog lights, Full-LED headlights, Head airbag, High beam assist, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traction control, Traffic sign recognition       1
ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                              1
Name: safety_security, Length: 12550, dtype: int64

In [124]:
df["safety_security"] = [",".join(item) if type (item) ==list else item for item in df["safety_security"]]

In [125]:
df["safety_security"] = df["safety_security"].astype("str")
df["safety_security"] = df["safety_security"].str.lower()

In [126]:
df["extras"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                 5150
Alloy wheels                                                                                                                                                                                                                                                        3408
Alloy wheels, Roof rack                                                                                                                                                                                                                                              380
Alloy wheels, Sport seats                                                                                                                                                                                                                                            372
Alloy wheels, Touch screen                                                                                                                                                                                                                                           231
                                                                                                                                                                                                                                                                    ...
Alloy wheels (18"), Spoiler, Summer tyres, Trailer hitch                                                                                                                                                                                                               1
All season tyres, Alloy wheels, Automatically dimming interior mirror, Catalytic Converter, Headlight washer system, Ski bag, Sport seats, Trailer hitch, Winter tyres                                                                                                 1
Alloy wheels, Automatically dimming interior mirror, Headlight washer system, Sport package, Sport seats, Summer tyres                                                                                                                                                 1
Alloy wheels (19"), Ambient lighting, Automatically dimming interior mirror, Catalytic Converter, E10-enabled, Emergency tyre repair kit, Headlight washer system, Spoiler, Sport package, Sport seats, Sport suspension, Summer tyres, Tuned car, Voice Control       1
Alloy wheels, Automatically dimming interior mirror, Ski bag, Trailer hitch                                                                                                                                                                                            1
Name: extras, Length: 9361, dtype: int64

In [127]:
df["extras"] = [",".join(item) if type (item) ==list else item for item in df["extras"]]
df["extras"] = df["extras"].astype("str")
df["extras"] = df["extras"].str.lower()

### Empty Weight

In [128]:

df["empty_weight"] = df["empty_weight"].apply(lambda x: re.sub(r'\D', '', str(x)) if pd.notnull(x) else None)
df["empty_weight"].value_counts(dropna=False)

None    10872
1395      233
1055      224
1423      216
1165      200
        ...
1877        1
1011        1
1069        1
983         1
1391        1
Name: empty_weight, Length: 1219, dtype: int64

In [129]:
df["empty_weight"].info()

<class 'pandas.core.series.Series'>
Int64Index: 28630 entries, 0 to 29478
Series name: empty_weight
Non-Null Count  Dtype
--------------  -----
17758 non-null  object
dtypes: object(1)
memory usage: 447.3+ KB

### Model Code

In [130]:

df["model_code"].value_counts(dropna= False) # too many missing values for recreating meaningful pattern

NaN                 20263
\n, 8212/AFJ, \n       75
\n, 1727/AAM, \n       64
\n, 1349/AGI, \n       61
\n, 1889/ABU, \n       55
                    ...
\n, 7593/ANL, \n        1
\n, 1727/ABC, \n        1
\n, 4136/AEC, \n        1
\n, 4136/668, \n        1
\n, 9101/449, \n        1
Name: model_code, Length: 2187, dtype: int64

### General Inspection

In [131]:
#pd.to_datetime(df[df["general_inspection"] != "New"])

df["general_inspection"] = [datetime(2022, 6, 1) if value == "New" else str(value) for value in df["general_inspection"]]
df["general_inspection"] = pd.to_datetime(df["general_inspection"], errors="coerce")
df["general_inspection"].value_counts(dropna=False)

NaT           16376
2022-06-01     5925
2023-05-01      286
2023-08-01      280
2023-03-01      268
              ...
2017-07-01        1
2013-08-01        1
2020-08-01        1
2018-08-01        1
2021-03-01        1
Name: general_inspection, Length: 91, dtype: int64

In [132]:
df["general_inspection"].unique()

array([                          'NaT', '2022-06-01T00:00:00.000000000',
       '2024-01-01T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2024-03-01T00:00:00.000000000', '2023-04-01T00:00:00.000000000',
       '2024-08-01T00:00:00.000000000', '2024-07-01T00:00:00.000000000',
       '2024-09-01T00:00:00.000000000', '2024-06-01T00:00:00.000000000',
       '2026-02-01T00:00:00.000000000', '2023-05-01T00:00:00.000000000',
       '2023-01-01T00:00:00.000000000', '2023-03-01T00:00:00.000000000',
       '2026-05-01T00:00:00.000000000', '2023-08-01T00:00:00.000000000',
       '2024-04-01T00:00:00.000000000', '2025-01-01T00:00:00.000000000',
       '2023-07-01T00:00:00.000000000', '2023-06-01T00:00:00.000000000',
       '2022-12-01T00:00:00.000000000', '2022-11-01T00:00:00.000000000',
       '2023-02-01T00:00:00.000000000', '2023-09-01T00:00:00.000000000',
       '2023-11-01T00:00:00.000000000', '2024-05-01T00:00:00.000000000',
       '2023-12-01T00:00:00.000000000', '2023-10-01T00:00:00.000000000',
       '2022-04-01T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2025-08-01T00:00:00.000000000', '2025-05-01T00:00:00.000000000',
       '2022-05-01T00:00:00.000000000', '2024-02-01T00:00:00.000000000',
       '2022-10-01T00:00:00.000000000', '2025-04-01T00:00:00.000000000',
       '2025-03-01T00:00:00.000000000', '2025-09-01T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2022-08-01T00:00:00.000000000',
       '2020-06-01T00:00:00.000000000', '2021-08-01T00:00:00.000000000',
       '2025-07-01T00:00:00.000000000', '2024-10-01T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2024-12-01T00:00:00.000000000',
       '2022-07-01T00:00:00.000000000', '2025-06-01T00:00:00.000000000',
       '2024-11-01T00:00:00.000000000', '2025-02-01T00:00:00.000000000',
       '2021-07-01T00:00:00.000000000', '2020-07-01T00:00:00.000000000',
       '2018-08-01T00:00:00.000000000', '2021-09-01T00:00:00.000000000',
       '2021-10-01T00:00:00.000000000', '2022-03-01T00:00:00.000000000',
       '2021-12-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2021-05-01T00:00:00.000000000', '2025-10-01T00:00:00.000000000',
       '2013-08-01T00:00:00.000000000', '2021-01-01T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2021-06-01T00:00:00.000000000',
       '2026-04-01T00:00:00.000000000', '2017-09-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2026-06-01T00:00:00.000000000',
       '2025-12-01T00:00:00.000000000', '2026-09-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2026-03-01T00:00:00.000000000', '2026-07-01T00:00:00.000000000',
       '2026-08-01T00:00:00.000000000', '2019-08-01T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2020-05-01T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2027-02-01T00:00:00.000000000',
       '2020-12-01T00:00:00.000000000', '2026-01-01T00:00:00.000000000',
       '2019-10-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2021-02-01T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

### Last Service

In [133]:

df["last_service"].value_counts(dropna= False) # risky

NaN        26627
09/2022      220
08/2022      196
06/2022      164
07/2022      155
           ...
02/2018        1
02/2011        1
10/2013        1
08/2017        1
08/2019        1
Name: last_service, Length: 62, dtype: int64

In [134]:
df["last_service"] = pd.to_datetime(df["last_service"], format = "%m/%Y", errors = "coerce")

In [135]:
df["last_service"].value_counts(dropna=False)

NaT           26627
2022-09-01      220
2022-08-01      196
2022-06-01      164
2022-07-01      155
              ...
2018-02-01        1
2011-02-01        1
2013-10-01        1
2017-08-01        1
2019-08-01        1
Name: last_service, Length: 62, dtype: int64

### Full Service History

In [136]:

df["full_service_history"].value_counts(dropna = False)

NaN    16065
Yes    12565
Name: full_service_history, dtype: int64

### Non Smoker Vehicle

In [137]:
df["non_smoker_vehicle"].value_counts(dropna=False)

NaN    17036
Yes    11594
Name: non_smoker_vehicle, dtype: int64

### Emission Class

In [138]:

df["emission_class"].value_counts(dropna = False)

NaN             10771
Euro 6           6418
Euro 6d-TEMP     3399
Euro 6d          2858
Euro 5           2389
Euro 4           1743
Euro 3            523
Euro 2            217
Euro 1            172
Euro 6c           140
Name: emission_class, dtype: int64

In [139]:
df["emission_class"] = ["Euro 6" if pd.notna(val) and "Euro 6" in val else val for val in df["emission_class"]] # neat

In [140]:
df["emission_class"].value_counts(dropna = False)

Euro 6    12815
NaN       10771
Euro 5     2389
Euro 4     1743
Euro 3      523
Euro 2      217
Euro 1      172
Name: emission_class, dtype: int64

### Emission Sticker

In [141]:

df["emissions_sticker"].value_counts(dropna = False)

NaN               19216
4 (Green)          9230
1 (No sticker)      176
3 (Yellow)            6
2 (Red)               2
Name: emissions_sticker, dtype: int64

### Upholstery Colour

In [142]:
#would not significantly affect the price

In [143]:
df.drop('upholstery_colour', axis=1, inplace = True)

### Upholstery

In [144]:

df["upholstery"].value_counts(dropna = False) # can have a small but significant effect on the price

NaN             10020
Cloth            8736
Full leather     5439
Part leather     2835
alcantara         764
Other             628
Velour            208
Name: upholstery, dtype: int64

### Production Date

In [145]:

df["production_date"].value_counts(dropna=False)

NaN       22722
2019.0     1179
2021.0      980
2022.0      894
2020.0      763
2018.0      762
2017.0      391
2016.0      239
2015.0      118
2014.0       90
2013.0       76
2010.0       53
2012.0       43
2011.0       43
2008.0       34
2009.0       26
2007.0       20
2006.0       17
2002.0       15
2004.0       13
2003.0       13
1967.0       12
2001.0       12
1966.0       11
1999.0        9
2005.0        9
1965.0        9
1970.0        9
1997.0        8
1994.0        8
1968.0        7
2000.0        7
1998.0        5
1990.0        3
1973.0        3
1987.0        3
1993.0        3
1991.0        3
1996.0        3
1995.0        2
1969.0        2
1978.0        2
1982.0        2
1961.0        1
1954.0        1
1988.0        1
1962.0        1
1981.0        1
1985.0        1
1976.0        1
Name: production_date, dtype: int64

In [146]:
df["production_date"] = pd.to_datetime(df["production_date"], format = "%Y", errors = "coerce")

In [147]:
df["production_date"].value_counts(dropna=False)

NaT           22722
2019-01-01     1179
2021-01-01      980
2022-01-01      894
2020-01-01      763
2018-01-01      762
2017-01-01      391
2016-01-01      239
2015-01-01      118
2014-01-01       90
2013-01-01       76
2010-01-01       53
2012-01-01       43
2011-01-01       43
2008-01-01       34
2009-01-01       26
2007-01-01       20
2006-01-01       17
2002-01-01       15
2004-01-01       13
2003-01-01       13
1967-01-01       12
2001-01-01       12
1966-01-01       11
1999-01-01        9
2005-01-01        9
1965-01-01        9
1970-01-01        9
1997-01-01        8
1994-01-01        8
1968-01-01        7
2000-01-01        7
1998-01-01        5
1990-01-01        3
1973-01-01        3
1987-01-01        3
1993-01-01        3
1991-01-01        3
1996-01-01        3
1995-01-01        2
1969-01-01        2
1978-01-01        2
1982-01-01        2
1961-01-01        1
1954-01-01        1
1988-01-01        1
1962-01-01        1
1981-01-01        1
1985-01-01        1
1976-01-01        1
Name: production_date, dtype: int64

In [148]:
df["production_date"].unique()

array([                          'NaT', '2019-01-01T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2016-01-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2008-01-01T00:00:00.000000000',
       '2002-01-01T00:00:00.000000000', '1991-01-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '2006-01-01T00:00:00.000000000',
       '2012-01-01T00:00:00.000000000', '1999-01-01T00:00:00.000000000',
       '2015-01-01T00:00:00.000000000', '1997-01-01T00:00:00.000000000',
       '2004-01-01T00:00:00.000000000', '1996-01-01T00:00:00.000000000',
       '1962-01-01T00:00:00.000000000', '2005-01-01T00:00:00.000000000',
       '2003-01-01T00:00:00.000000000', '2007-01-01T00:00:00.000000000',
       '1993-01-01T00:00:00.000000000', '1994-01-01T00:00:00.000000000',
       '2009-01-01T00:00:00.000000000', '2001-01-01T00:00:00.000000000',
       '1985-01-01T00:00:00.000000000', '1970-01-01T00:00:00.000000000',
       '1990-01-01T00:00:00.000000000', '1998-01-01T00:00:00.000000000',
       '1981-01-01T00:00:00.000000000', '1995-01-01T00:00:00.000000000',
       '1973-01-01T00:00:00.000000000', '2000-01-01T00:00:00.000000000',
       '1978-01-01T00:00:00.000000000', '1987-01-01T00:00:00.000000000',
       '1982-01-01T00:00:00.000000000', '1988-01-01T00:00:00.000000000',
       '1966-01-01T00:00:00.000000000', '1965-01-01T00:00:00.000000000',
       '1967-01-01T00:00:00.000000000', '1961-01-01T00:00:00.000000000',
       '1968-01-01T00:00:00.000000000', '1954-01-01T00:00:00.000000000',
       '1969-01-01T00:00:00.000000000', '1976-01-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

### Previous Owner

In [149]:
df["previous_owner"].value_counts(dropna=False)

NaN                           14615
[[50 km, 06/2022], 1]            64
[[10 km, 08/2022], 1]            59
[[10 km, 07/2022], 1]            45
[[10 km, 09/2022], 1]            38
                              ...
[[358,000 km, 10/2010], 2]        1
[[165,400 km, 09/2010], 1]        1
[[65,000 km, 10/2006], 1]         1
[[71,000 km, 04/2013], 1]         1
[[230,047 km, 07/2002], 5]        1
Name: previous_owner, Length: 11734, dtype: int64

In [150]:
df["previous_owner"] = [item[-1] if isinstance(item, list) else item for item in df["previous_owner"]]
df["previous_owner"].value_counts(dropna=False)

NaN    14615
1       9746
2       3221
3        699
4        184
5         69
6         37
7         22
8         16
9         14
12         3
10         2
14         1
13         1
Name: previous_owner, dtype: int64

### Other Fuel Types

In [151]:
df["other_fuel_types"].value_counts(dropna=False)

NaN             26317
Electricity      2301
Hydogen            11
Super E10 95        1
Name: other_fuel_types, dtype: int64

In [152]:
#power consumption
df["power_consumption"].value_counts(dropna=False)

NaN                        28115
0 kWh/100 km (comb.)         101
15.2 kWh/100 km (comb.)       30
15.7 kWh/100 km (comb.)       19
17.7 kWh/100 km (comb.)       17
                           ...
18 kWh/100 km (comb.)          1
25.3 kWh/100 km (comb.)        1
12.7 kWh/100 km (comb.)        1
22.7 kWh/100 km (comb.)        1
20.4 kWh/100 km (comb.)        1
Name: power_consumption, Length: 105, dtype: int64

In [153]:
df["power_consumption"] = df["power_consumption"].str.extract(r"(\d+\.?\d*)")

In [154]:
df["power_consumption"].value_counts(dropna=False)

NaN     28115
0         101
15.2       30
15.7       19
17.7       17
        ...
18          1
25.3        1
12.7        1
22.7        1
20.4        1
Name: power_consumption, Length: 105, dtype: int64

In [155]:
#Energy efficiency class - electric vehicles
df["energy_efficiency_class"].value_counts(dropna=False)

NaN     20826
B        2090
A        1687
C        1133
A+       1089
D         636
A+++      375
G         309
E         271
F         147
A++        67
Name: energy_efficiency_class, dtype: int64

In [156]:
#c02 efficiency - dropping
df["co_efficiency"].value_counts(dropna=False)

NaN                                                                                           20826
Calculated on basis of measured CO₂-emissions taking into account the mass of the vehicle.     7804
Name: co_efficiency, dtype: int64

In [157]:
df["fuel_consumption_wltp"].value_counts(dropna=False) # higly unlikely to be used[only for electric vehicle classification]

NaN              28530
5.5 l/100 km         9
5 l/100 km           8
5.4 l/100 km         5
6.8 l/100 km         5
6.5 l/100 km         4
5.7 l/100 km         4
7.3 l/100 km         4
5.2 l/100 km         3
4.9 l/100 km         3
6.6 l/100 km         3
6.7 l/100 km         3
5.9 l/100 km         2
6.1 l/100 km         2
5.6 l/100 km         2
4.7 l/100 km         2
4.4 l/100 km         2
5.8 l/100 km         2
6.3 l/100 km         2
6.2 l/100 km         2
8.4 l/100 km         2
16 l/100 km          2
7.6 l/100 km         2
12.6 l/100 km        2
9.3 l/100 km         2
1.5 l/100 km         1
12 l/100 km          1
5.3 l/100 km         1
8 l/100 km           1
8.2 l/100 km         1
4.8 l/100 km         1
4.1 l/100 km         1
4.2 l/100 km         1
4.3 l/100 km         1
1.1 l/100 km         1
3.9 l/100 km         1
6.4 l/100 km         1
8.6 l/100 km         1
10.3 l/100 km        1
12.2 l/100 km        1
12.3 l/100 km        1
8.3 l/100 km         1
7.2 l/100 km         1
9.6 l/100 km         1
9.1 l/100 km         1
12.9 l/100 km        1
10.4 l/100 km        1
7.8 l/100 km         1
Name: fuel_consumption_wltp, dtype: int64

In [158]:
df["fuel_consumption_wltp"] = df["fuel_consumption_wltp"].str.extract(r"(\d+\.?\d*)")

In [159]:
df["fuel_consumption_wltp"].value_counts(dropna=False)

NaN     28530
5.5         9
5           8
5.4         5
6.8         5
6.5         4
5.7         4
7.3         4
5.2         3
4.9         3
6.6         3
6.7         3
5.9         2
6.1         2
5.6         2
4.7         2
4.4         2
5.8         2
6.3         2
6.2         2
8.4         2
16          2
7.6         2
12.6        2
9.3         2
1.5         1
12          1
5.3         1
8           1
8.2         1
4.8         1
4.1         1
4.2         1
4.3         1
1.1         1
3.9         1
6.4         1
8.6         1
10.3        1
12.2        1
12.3        1
8.3         1
7.2         1
9.6         1
9.1         1
12.9        1
10.4        1
7.8         1
Name: fuel_consumption_wltp, dtype: int64

In [160]:
#CO₂-emissions (WLTP)
df["co_emissions_wltp"].value_counts(dropna=False) # highly unlikely

NaN                 28514
0 g/km (comb.)         14
125 g/km (comb.)        8
130 g/km (comb.)        4
129 g/km (comb.)        4
                    ...
211 g/km (comb.)        1
218 g/km (comb.)        1
159 g/km (comb.)        1
115 g/km (comb.)        1
97 g/km (comb.)         1
Name: co_emissions_wltp, Length: 69, dtype: int64

In [161]:
#taxi or rental 
df["taxi_or_rental_car"].value_counts(dropna=False)

NaN    28208
Yes      422
Name: taxi_or_rental_car, dtype: int64

In [162]:
#Availability (days after order)
df["availability"].value_counts(dropna=False)

NaN                                28329
\n, in 1 day after order, \n          64
\n, in 5 days after order, \n         56
\n, in 7 days after order, \n         31
\n, in 3 days after order, \n         25
\n, in 14 days after order, \n        22
\n, in 60 days after order, \n        21
\n, in 42 days after order, \n        15
\n, in 180 days after order, \n       12
\n, in 90 days after order, \n        10
\n, in 120 days after order, \n       10
\n, in 6 days after order, \n          9
\n, in 270 days after order, \n        8
\n, in 28 days after order, \n         5
\n, in 2 days after order, \n          5
\n, in 4 days after order, \n          4
\n, in 21 days after order, \n         2
\n, in 360 days after order, \n        1
\n, in 150 days after order, \n        1
Name: availability, dtype: int64

In [163]:
df["availability"] = df["availability"].apply(lambda item : item[0] if type(item)==list else item)
df["availability"] = df["availability"].str.extract(r"(\d+)")

In [164]:
df["availability"].value_counts(dropna=False)

NaN    28329
1         64
5         56
7         31
3         25
14        22
60        21
42        15
180       12
90        10
120       10
6          9
270        8
28         5
2          5
4          4
21         2
360        1
150        1
Name: availability, dtype: int64

In [165]:
#last time belt changed
df["last_timing_belt_change"].value_counts(dropna=False)

NaN        28058
04/2022       27
05/2021       26
08/2022       25
07/2022       24
           ...
07/2018        1
10/2015        1
12/2019        1
11/2018        1
07/2016        1
Name: last_timing_belt_change, Length: 87, dtype: int64

In [166]:
df["last_timing_belt_change"] = pd.to_datetime(df["last_timing_belt_change"], format = "%m/%Y", errors = "coerce")
df["last_timing_belt_change"].value_counts(dropna=False)

NaT           28058
2022-04-01       27
2021-05-01       26
2022-08-01       25
2022-07-01       24
              ...
2018-07-01        1
2015-10-01        1
2019-12-01        1
2018-11-01        1
2016-07-01        1
Name: last_timing_belt_change, Length: 87, dtype: int64

In [167]:

df["electric_range_wltp"].value_counts(dropna = False) # useless

NaN                           28614
426 km492 km (within city)        2
389 km                            2
402 km484 km (within city)        1
50 km50 km (within city)          1
614 km681 km (within city)        1
573 km573 km (within city)        1
691 km691 km (within city)        1
351 km351 km (within city)        1
48 km48 km (within city)          1
450 km450 km (within city)        1
402 km402 km (within city)        1
540 km540 km (within city)        1
360 km                            1
384 km                            1
Name: electric_range_wltp, dtype: int64

In [168]:
#power consumption electric
df["power_consumption_wltp"].value_counts(dropna=False) # useless unless deep electricity clustering

NaN                28614
21.9 kWh/100 km        2
17.2 kWh/100 km        2
20.6 kWh/100 km        2
18.9 kWh/100 km        1
19.2 kWh/100 km        1
18.4 kWh/100 km        1
19.3 kWh/100 km        1
15.9 kWh/100 km        1
148 kWh/100 km         1
16.9 kWh/100 km        1
18.7 kWh/100 km        1
18.1 kWh/100 km        1
18.6 kWh/100 km        1
Name: power_consumption_wltp, dtype: int64

In [169]:
#battery ownership
df["battery_ownership"].value_counts(dropna=False)

NaN         28623
Included        7
Name: battery_ownership, dtype: int64

In [170]:
df.sample(15)

,make_model,short_description,make,model,location,price,body_type,type,doors,country_version,...,power_consumption_wltp,battery_ownership,country,new_fuel_type,paint2,power_kwh,co2_emissions,fuel_consumption_comb,fuel_consumption_city,fuel_consumption_country
7515,Peugeot 107,1.0 Active 68PK | DJ27749 | Airco | AUX | LED Dag,Peugeot,"\n, 107 ,\n","Koop jouw auto online 24/7, 1101 BA AMSTERDAM...",6350,Compact,Used,5,NaN,...,NaN,NaN,NL,Benzine,1,50,104,4.5 l/100 km (comb.),5.4 l/100 km (city),4 l/100 km (country)
26667,Volvo C70,Convertible 2.0D Intro Edition Org NL/NAP,Volvo,"\n, C70 ,\n","Rijksstraatweg 63, 7391 MH TWELLO, NL",8995,Convertible,Used,2,NaN,...,NaN,NaN,NL,Diesel,1,100,167,6.3 l/100 km (comb.),8.1 l/100 km (city),5.3 l/100 km (country)
566,Mercedes-Benz C 63 AMG,S *Multibeam*Head-Up*Info-High-End*Nigh Klima,Mercedes-Benz,"\n, C 63 AMG ,\n","Rodezstr. 2, 96052 Bamberg, DE",107289,Convertible,Demonstration,2,"\n, Germany, \n",...,NaN,NaN,DE,Benzine,1,375,255,1.1 l/100 km (comb.),5.6 l/100 km (city),8.5 l/100 km (country)
5470,Renault Kangoo,1.5 dCi 110CV S-S 4p. Express Ice,Renault,"\n, Kangoo ,\n","Via Partanna Mondello 52, 90100 Palermo - Pa, IT",11900,Convertible,Used,NaN,"\n, Italy, \n",...,NaN,NaN,IT,Diesel,0,81,<NA>,0 l/100 km (comb.),NaN,NaN
18490,Toyota Corolla,Touring Sports 1.8 Hybrid Business Automaat I ...,Toyota,"\n, Corolla ,\n","Brinkhorst 7, 7207 BG ZUTPHEN, NL",28900,Station wagon,Used,5,NaN,...,NaN,NaN,NL,NaN,1,NaN,78,4.5 l/100 km (comb.),NaN,NaN
15872,Dacia Sandero,Stepway TCe 90 AT LED AAC Temp PDC Apple,Dacia,"\n, Sandero ,\n","Am Busch 10, 39118 Magdeburg, DE",18990,Off-Road/Pick-up,Pre-registered,5,"\n, Austria, \n",...,NaN,NaN,DE,Benzine,1,67,119,5.2 l/100 km (comb.),6 l/100 km (city),4.8 l/100 km (country)
747,Mercedes-Benz E 53 AMG,4MATIC+ Cabriolet V-Max 360°*Sitzklima,Mercedes-Benz,"\n, E 53 AMG ,\n","Siemensstraße 49, 07546 Gera, DE",102990,Convertible,Demonstration,2,NaN,...,NaN,NaN,DE,Benzine,1,320,<NA>,NaN,NaN,NaN
24848,Hyundai KONA,EV Style,Hyundai,"\n, KONA ,\n","Orensteinstr. 2, 56626 Andernach, DE",38990,Off-Road/Pick-up,Used,5,"\n, Germany, \n",...,NaN,NaN,DE,NaN,1,150,<NA>,NaN,NaN,NaN
15416,Dacia Sandero,Essential TCe 100 ECO-G KLIMA BT,Dacia,"\n, Sandero ,\n","Ruhrtalstr. 46, 45239 Essen, DE",13760,Compact,Pre-registered,5,"\n, Germany, \n",...,NaN,NaN,DE,LPG/CNG,1,74,117,5.1 l/100 km (comb.),6.5 l/100 km (city),4.4 l/100 km (country)
25889,Volvo V40,D3 R-Design Kinetic 150,Volvo,"\n, V40 ,\n","CARRETERA FUENCARRAL A HORTALEZA 89 D, 28050 ...",14399,Compact,Used,5,"\n, Spain, \n",...,NaN,NaN,ES,Diesel,0,110,<NA>,4.3 l/100 km (comb.),5.3 l/100 km (city),3.8 l/100 km (country)
12133,SEAT Ibiza,1.4-16V Signo,SEAT,"\n, Ibiza ,\n","6942GA Didam, NL",4000,Compact,Used,5,NaN,...,NaN,NaN,NL,Benzine,1,55,156,6.5 l/100 km (comb.),8.9 l/100 km (city),5.3 l/100 km (country)
1890,Mercedes-Benz CLA 180,Shooting Brake,Mercedes-Benz,"\n, CLA 180 ,\n","Voogdijstraat 25, 3500 Hasselt, BE",28999,Station wagon,Used,5,NaN,...,NaN,NaN,BE,Benzine,0,90,144,6.3 l/100 km (comb.),7.7 l/100 km (city),5.5 l/100 km (country)
6050,Renault Kadjar,BUSINESS Edition ENERGY dCi 110 EDC Start & St...,Renault,"\n, Kadjar ,\n","Lindenstraße 54, 15517 Fürstenwalde/Spree, DE",17490,Off-Road/Pick-up,Used,5,"\n, Germany, \n",...,NaN,NaN,DE,Diesel,1,81,129,3.9 l/100 km (comb.),4 l/100 km (city),3.9 l/100 km (country)
5920,Renault Megane,Megane Coupe 1.9 dci Gt Line,Renault,"\n, Megane ,\n","09121 cagliari, IT",5500,Coupe,Used,3,NaN,...,NaN,NaN,IT,Diesel,0,96,114,5.1 l/100 km (comb.),6.2 l/100 km (city),4.5 l/100 km (country)
26822,Volvo C70,Convertible 2.5 T5 Summum Automaat,Volvo,"\n, C70 ,\n","Cornelis de Vriesweg 6a, 1746 CL DIRKSHORN, NL",16450,Convertible,Used,2,NaN,...,NaN,NaN,NL,Benzine,1,162,234,9.8 l/100 km (comb.),4.7 l/100 km (city),7 l/100 km (country)

In [171]:
df.to_excel("df_cleaned.xlsx")

In [172]:
df.to_csv("df_cleaned.csv")